extends layout

block content
  h1 #{title} for #{bookinstance.book.title}
  p #[strong Imprint]: #{bookinstance.imprint}

  p #[strong Status]: #{bookinstance.status}
  p #[strong Due back]: #{bookinstance.due_back_formatted}

  p Do you really want to delete this Book?
  
  form(method='POST' action='')
      div.form-group
      input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )
  
      button.btn.btn-primary(type='submit') Delete
